* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, rgb(244, 236, 122), rgb(141, 205, 141), rgb(45, 201, 245), rgb(239, 163, 200), rgb(232, 76, 237));
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 16px;
}

.search-container {
  width: 400px;
  position: relative;
}
.search-container input,
.search-container .suggestions {
  width: 100%;
}
.search-container input {
 padding: 12px 15px;
 border-radius: 30px;
 border: none;
 background: linear-gradient(to right, rgb(191, 238, 191), rgb(233, 185, 137));
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
}
.search-container .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(221, 179, 216);
  border-radius: 10px;
  margin-top: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

ul.has-suggestions {
  border-top: 1px solid white;
}

ul li {
  padding: 10px 15px;
  cursor: pointer;
}

ul li:hover {
  background-color: rgb(237, 195, 234);
}

input {
   transition: box-shadow 0.2s ease;
}